# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# PlatformIO
packages/iot/.pio/
packages/iot/.vscode/

# React Native
packages/native/android/app/build/
packages/native/android/build/
packages/native/ios/build/
packages/native/ios/Pods/
packages/native/ios/*.xcworkspace/xcuserdata/
packages/native/ios/*.xcodeproj/xcuserdata/

# Metro
packages/native/.metro/

# Fastlane
packages/native/fastlane/report.xml
packages/native/fastlane/Preview.html
packages/native/fastlane/screenshots
packages/native/fastlane/test_output

# Bundle artifacts
*.jsbundle

